elasticsearchHosts: "http://elasticsearch-master:9200"

resources:
  requests:
    cpu: "100m"
    memory: "512Mi"
  limits:
    cpu: "500m"
    memory: "1Gi"

service:
  type: ClusterIP

ingress:
  enabled: true
  hosts:
    - host: kibana.local
      paths:
        - path: /