spring:
  application:
    name: exchange-service

jwt:
  validation:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always