replicaCount: 1
image:
  repository: accounts-service
  tag: "1.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

probes:
  enabled: true
  livenessPath: /actuator/health/liveness
  readinessPath: /actuator/health/readiness