apiVersion: v1
kind: Service
metadata:
  name: zipkin
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 9411
      protocol: TCP
      name: http
  selector:
    app: zipkin