apiVersion: apps/v1
kind: Deployment
metadata:
  name: accounts-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: accounts-service
  template:
    metadata:
      labels:
        app: accounts-service
    spec:
      containers:
        - name: accounts-service
          image: accounts-service:1.0
          ports:
            - containerPort: 8080
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: config-volume
              mountPath: /config/application.yml
              subPath: application.yml
      volumes:
        - name: config-volume
          configMap:
            name: accounts-config

---

apiVersion: v1
kind: Service
metadata:
  name: accounts-service
spec:
  type: ClusterIP
  selector:
    app: accounts-service
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: accounts-config
data:
  application.yml: |-
    spring:
      application:
        name: accounts-service

    jwt:
      secret: 17898c04a08f8dc2cb70e01de660096ffe1b0d0aec8ac37827aff7ea56810a31ed1baa8bd3c6c2fb6c30352214069abf78079a33042f658dcf19ab033d318f4bf6d3d3ea7173ffea5a717faedd6d7f9637596b88a33d58ee8b2245cb92aebd1c32c60db2c2c1b0c84a2ea00a790dd820d6c38ed6f095dc008d5022ad8e9eb641
      token-expiration: 43200000
      validation:
        enabled: false

    management:
      endpoints:
        web:
          exposure:
            include: health, info
      endpoint:
        health:
          show-details: always