apiVersion: apps/v1
kind: Deployment
metadata:
  name: exchange-generator-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: exchange-generator-service
  template:
    metadata:
      labels:
        app: exchange-generator-service
    spec:
      containers:
        - name: exchange-generator-service
          image: exchange-generator-service:1.0
          ports:
            - containerPort: 8080
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: config-volume
              mountPath: /config/application.yml
              subPath: application.yml
      volumes:
        - name: config-volume
          configMap:
            name: exchange-generator-config

---

apiVersion: v1
kind: Service
metadata:
  name: exchange-generator-service
spec:
  type: ClusterIP
  selector:
    app: exchange-generator-service
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: exchange-generator-config
data:
  application.yml: |-
    spring:
      application:
        name: exchange-generator-service

    jwt:
      validation:
        enabled: false

    management:
      endpoints:
        web:
          exposure:
            include: health, info
      endpoint:
        health:
          show-details: always