apiVersion: apps/v1
kind: Deployment
metadata:
  name: transfer-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: transfer-service
  template:
    metadata:
      labels:
        app: transfer-service
    spec:
      containers:
        - name: transfer-service
          image: transfer-service:1.0
          ports:
            - containerPort: 8080
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: config-volume
              mountPath: /config/application.yml
              subPath: application.yml
      volumes:
        - name: config-volume
          configMap:
            name: transfer-config

---

apiVersion: v1
kind: Service
metadata:
  name: transfer-service
spec:
  type: ClusterIP
  selector:
    app: transfer-service
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: transfer-config
data:
  application.yml: |-
    spring:
      application:
        name: transfer-service

    resilience4j:
      retry:
        instances:
          exchangeService:
            maxAttempts: 3
            waitDuration: 2s
            retryExceptions:
              - java.io.IOException
              - org.springframework.web.client.ResourceAccessException
              - org.springframework.web.client.HttpServerErrorException
          accountsService:
            maxAttempts: 3
            waitDuration: 2s
            retryExceptions:
              - java.io.IOException
              - org.springframework.web.client.ResourceAccessException
              - org.springframework.web.client.HttpServerErrorException
          blockerService:
            maxAttempts: 3
            waitDuration: 2s
            retryExceptions:
              - java.io.IOException
              - org.springframework.web.client.ResourceAccessException
              - org.springframework.web.client.HttpServerErrorException
      circuitbreaker:
        instances:
          exchangeService:
            registerHealthIndicator: true
            slidingWindowSize: 5
            failureRateThreshold: 50
            waitDurationInOpenState: 5s
          accountsService:
            registerHealthIndicator: true
            slidingWindowSize: 5
            failureRateThreshold: 50
            waitDurationInOpenState: 5s
          blockerService:
            registerHealthIndicator: true
            slidingWindowSize: 5
            failureRateThreshold: 50
            waitDurationInOpenState: 5s

    jwt:
      validation:
        enabled: true

    management:
      endpoints:
        web:
          exposure:
            include: health, info
      endpoint:
        health:
          show-details: always