apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ui-service
  template:
    metadata:
      labels:
        app: ui-service
    spec:
      containers:
        - name: ui-service
          image: ui-service:1.0
          ports:
            - containerPort: 8080
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: config-volume
              mountPath: /config/application.yml
              subPath: application.yml
      volumes:
        - name: config-volume
          configMap:
            name: ui-config
---

apiVersion: v1
kind: Service
metadata:
  name: ui-service
spec:
  selector:
    app: ui-service
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: ui-config
data:
  application.yml: |-
    spring:
      application:
        name: ui-service

    resilience4j:
      retry:
        instances:
          accountsService:
            maxAttempts: 3
            waitDuration: 2s
            retryExceptions:
              - java.io.IOException
              - org.springframework.web.client.ResourceAccessException
              - org.springframework.web.client.HttpServerErrorException
          cashService:
            maxAttempts: 3
            waitDuration: 2s
            retryExceptions:
              - java.io.IOException
              - org.springframework.web.client.ResourceAccessException
              - org.springframework.web.client.HttpServerErrorException
          transferService:
            maxAttempts: 3
            waitDuration: 2s
            retryExceptions:
              - java.io.IOException
              - org.springframework.web.client.ResourceAccessException
              - org.springframework.web.client.HttpServerErrorException
      circuitbreaker:
        instances:
          accountsService:
            registerHealthIndicator: true
            slidingWindowSize: 5
            failureRateThreshold: 50
            waitDurationInOpenState: 5s
          cashService:
            registerHealthIndicator: true
            slidingWindowSize: 5
            failureRateThreshold: 50
            waitDurationInOpenState: 5s
          transferService:
            registerHealthIndicator: true
            slidingWindowSize: 5
            failureRateThreshold: 50
            waitDurationInOpenState: 5s

    jwt:
      validation:
        enabled: false

    management:
      endpoints:
        web:
          exposure:
            include: health, info
      endpoint:
        health:
          show-details: always