apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ui-service
  template:
    metadata:
      labels:
        app: ui-service
    spec:
      containers:
        - name: ui-service
          image: ui-service:1.0
          ports:
            - containerPort: 8080
          imagePullPolicy: IfNotPresent
---

apiVersion: v1
kind: Service
metadata:
  name: ui-service
spec:
  selector:
    app: ui-service
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080