replicaCount: 1
image:
  repository: apache/kafka
  tag: 4.0.0
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 9092

persistence:
  enabled: true
  size: 2Gi
  storageClass: ""

kafka:
  nodeId: 0
  advertisedHost: kafka-0.kafka.default.svc.cluster.local