apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "blocker_service.fullname" . }}-config
data:
  application.yml: |
    spring:
      application:
        name: blocker-service
    jwt:
      validation:
        enabled: true
    management:
      endpoints:
        web:
          exposure:
            include: health, info
      endpoint:
        health:
          show-details: always
      zipkin:
        tracing:
          endpoint:  http://zipkin:9411/api/v2/spans
      tracing:
        sampling:
          probability: 1
