apiVersion: apps/v1
kind: Deployment
metadata:
  name: accounts-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: accounts-service
  template:
    metadata:
      labels:
        app: accounts-service
    spec:
      containers:
        - name: accounts-service
          image: accounts-service:1.0
          ports:
            - containerPort: 8080
          imagePullPolicy: IfNotPresent
#minikube -p minikube docker-env --shell powershell | Invoke-Expression

---
apiVersion: v1
kind: Service
metadata:
  name: accounts-service
spec:
  type: NodePort
  selector:
    app: accounts-service
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080
