<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [traceId=%X{traceId},spanId=%X{spanId}] %msg%n"/>
        </Console>
        <Kafka name="Kafka" topic="accounts-service-logs">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [traceId=%X{traceId},spanId=%X{spanId}] %msg%n"/>
            <Property name="bootstrap.servers">kafka-0.kafka.default.svc.cluster.local:9092</Property>
        </Kafka>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Kafka"/>
        </Root>
        <Logger name="org.apache.kafka" level="INFO" >
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>