replicaCount: 1
image:
  repository: blocker-service
  tag: "1.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080


config:
  applicationYml: |
    spring:
      application:
        name: blocker-service
    jwt:
      validation:
        enabled: true
    management:
      endpoints:
        web:
          exposure:
            include: health, info
      endpoint:
        health:
          show-details: always

